@media (max-width: 767px)
  .header-container
    max-width: 85.5%
  .section-container, .footer-container
    max-width: 90%
  .header
    &-wrapper
      padding: 20px 0
    &__wave
      display: none
    &-offer
      &-wrapper
        max-height: 150px
    &-menu
      flex-direction: column
      justify-content: center
      &__item
        position: relative
        margin-right: 0
        margin-bottom: 10px
        &:first-child
          margin-right: 0
          margin-top: 30px
      &-wrapper
        position: fixed
        padding: 10px
        top: 55px
        left: 2%
        right: 2%
        flex-direction: column
        justify-content: center
        background-color: $text-dark
        border-radius: 16px
        max-height: 210px
        overflow-y: auto
        z-index: 99
    &__button
      padding: 7px 10px
      max-width: 110px
      align-self: center
      margin-left: 0
      margin-bottom: 30px
    &__title
      font-size: 32px
      line-height: 40px
      margin-bottom: 30px
      &--details
        padding-bottom: 59px
  .content
    position: relative
    margin-top: 5px
  .pages-menu
    &__item
      margin-bottom: 5px
  .offer
    max-width: 90%
    &--head
      transform: translateY(-65%)
    &__image
      &-wrapper
        max-width: 50%
    &__text
      padding: 24px 20px
    &__label
      padding: 2px 14px
      margin-bottom: 8px
    &__title
      margin-bottom: 0
    &__description
      margin-bottom: 24px
  .user
    &__avatar
      width: 36px
      height: 36px
    &__name
      font-size: 14px
      line-height: 20px
      margin-bottom: 2px
    &__verification
      font-size: 12px
      line-height: 16px
  .menu
    &-button
      padding: 0
      display: flex
      width: 22px
      height: 18px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: transparent
      cursor: pointer
      z-index: 5
      &__line
        width: 22px
        height: 2.2px
        background-color: $text-light
        border-radius: 10px
        margin-bottom: 5.5px
        &:last-child
          margin-bottom: 0
    &--mobile
      &--hidden
        display: none
      &--visible
        display: flex
  .pop-tags
    flex-wrap: wrap
    &__name
      margin-bottom: 77px
    &__item
      margin-bottom: 77px
  .modal
    &__dialog
      padding: 33px 55px 0
    &__form
      margin-bottom: 33px
  .pop-art
    &__wrapper
      flex-direction: column
      align-items: start
      margin-bottom: 20px
    &__bio
      max-width: 100%
      margin-bottom: 12px
    &__title
      margin-bottom: 6px
    &__button
      align-self: start
      margin-bottom: 0
    &__card
      margin-bottom: 30px
  .offer-card
    padding: 20px
    width: 48%
    height: 290px
    &__title
      font-size: 20px
      line-height: 24px
      &--bm
        margin-bottom: 60px
  .last-art
    &__wrapper
      flex-direction: column
      align-items: start
      margin-bottom: 20px
    &__bio
      max-width: 100%
    &__title
      margin-bottom: 6px
    &__button
      margin: 0
      align-self: start
  .example
    &__slider
      &-container
        margin-bottom: 27px
        max-width: 97%
      &-wrapper
        max-width: 90%
    &__button
      &-wrapper
        display: flex
        justify-content: center
  .all-art
    &__card
      &--bot
        padding: 20px
        width: 48%
        height: 290px
  .newsletter
    &--details
      border: none
    &-wave
      display: none
  .footer
    &-br
      display: inline
    &__wrapper
      &--details
        left: 0
  .offer-detail
    &__container
      max-width: 100%
  .text
    padding: 0 5%
    &-slider
      &-container
        min-width: 100%
        margin-right: 3%
        margin-left: 0
    &__title
      &-big
        font-size: 30px
        line-height: 40px
    &__description
      &--mb-10
        margin-bottom: 50px
  .collage
    &__images
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(2, 1fr)
      grid-gap: 20px
  .quote
    max-width: 90%
    &__text
      font-size: 28px
      line-height: 50px
      min-height: 250px
      max-height: 260px
    &__avatar
      transform: translateY(45%)
  .comment
    flex-direction: column
    &-user
      margin-bottom: 16px
    &__wrapper
      max-width: 100%
  .list
    bottom: 660px
  .to-top
    width: 40px
    height: 40px
    padding: 12px
  .section
    &-button
      &--desctop
        display: none
      &--mobile
        display: inline-block
@media (max-width: 680px)
  .pop-tags
    &__name
      margin-bottom: 11px
    &__item
      margin-bottom: 11px
      &:last-child
        margin-bottom: 77px
  .list
    bottom: 700px
@media (max-width: 663px)
  .quote
    &__text
      min-height: 300px
      max-height: 310px
    &__avatar
      transform: translateY(15%)
@media (max-width: 640px)
  .pop-art
    &-cards
      flex-direction: column
      justify-content: space-between
    &__button
      align-self: center
  .offer-card
    padding: 32px 48px 42px
    width: 100%
    height: 600px
    &__label
      left: 32px
      top: 32px
      padding: 5px 14px
      font-size: 16px
      line-height: 22px
      width: 153px
    &__title
      font-size: 36px
      line-height: 48px
      &--bm
        margin-bottom: 76px
      &--sm
        margin-bottom: 36px
  .last-art
    &__button
      align-self: center
  .all-art
    &__card
      &--bot
        padding: 32px 48px 42px
        width: 100%
        height: 600px
@media (max-width: 625px)
  .header
    &-offer
      &-wrapper
        max-height: 320px
  .offer
    flex-direction: column
    max-height: 448px
    &--head
      transform: translateY(-40%)
    &__image
      &-wrapper
        min-height: 210px
        min-width: 100%
    &__text
      width: 100%
  .example
    &__slider
      &-button
        width: 39px
        height: 40px
        top: 47%
        &--next
          background-size: 13px 16px
        &--prev
          background-size: 13px 16px
